/* ここにcssを書いてみましょう */
#html {
  background: white;
}

#wrap {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  overflow: hidden;
}

#header {
  background: #A0D5D0;
  overflow: hidden;
  margin-top: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#header nav#global {
  background-color: #F2F2F2;
  overflow: hidden;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#header nav#global ul li a:link {
  text-decoration: none;
}

#body{
  height: 100%;
  font-family: Verdana, Arial;
  font-size: 14px;
  /*text-align: center;*/
}

body > #wrap {
  height: auto;
}

#wrap {
  min-height: 100%;
  height: 100;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

#header {
  overflow: hidden;
  text-align: center;
}
#header ul>li {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  text-align: center;
  padding: 1px;
  background: white;
  /*margin-right: 4px;*/
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
}

#about {
  overflow: hidden;
  text-align: center;
}

#about ol li {
/*  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
}

#comments{
  /*display: inline-block;*/
  width: 250px;
}

#comments ul>li {
  display: inline-block;
  width: 220px;
  font-size: 11px;
/*  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;*/
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, black 0 0 3px inset;
}

#sub {
  display: inline-block;
  overflow: hidden;
  /*float: left;*/
  width: 250px;
/*  padding-bottom: 10000px
  margin-bottom: -10000px*/
}
#sub .ad {
  background: green;
  height: 180px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 10px 0;
}
#sub nav#local ul {
  margin: 0 0 0 0;
}
#sub nav#local ul li a {
  display: block;
  background: gray;
  line-height: 20px;
  padding: 8px 8px 8px 8px;
/*  border-top: #dddddd solid 1px;
  border-left: #dddddd solid 1px;
  border-right: #dddddd solid 1px;*/
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px inset;
  text-align: center;
  text-decoration: none;
}

#sub .banners {
  display: inline-block;
  text-decoration: none;
}

#sub .banners ul>li{
  display: inline-block;
}

#sub .banners ul li a:link {
  text-decoration: none;
}

#about ol>li {
  display: inline-block;
  width: 250px;
  font-size: 13px;
  /*text-align: center;*/
  padding: 4px;
  background: white;
  margin-right: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
}

#articles {
  overflow: hidden;
  float: right;
  width: 900px;
  margin-left: 10px;
  font-size: 18px;
  border-bottom: #dddddd solid 1px;
  border-left: #dddddd solid 1px;
}

#articles ul li {
  display: inline-block;  
}
#main .breadcrumbs ol>li {
  display: inline-block;
  /*margin-left: 50px;*/
}

#main .breadcrumbs ol li a:after {
  content: " > ";
}

#footer {
  overflow: hidden;
  text-align: center;
  width: 1200px;
}

#footer ul>li {
  display: inline-block;
  width: 100px;
  font-size: 13px;
  text-align: center;
  padding: 1px;
  background: white;
  /*margin-right: 4px;*/
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
}

#footer nav ul li a:link {
  text-decoration: none;
}

#footer .copyright {
  font-size: 13px;
  text-align: center;
  border-top: 1px solid black;
}